.formPage {
  padding: 1.5rem;
}
form {
  margin: 2rem 1rem;
  padding: 1.5rem;
}
form h1 {
  text-align: center;
  color: #c9fd02;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 900;
}
.formBox {
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
}
.inputBox {
  display: flex;
  flex-direction: column;
  /* padding: 0 1rem; */
}
.inputBox label {
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
  color: #c9fd02;
}
.inputBox input,
.inputBox select {
  padding: 1.5rem 1rem;
  background-color: rgb(243 244 246);
  border: 1px solid rgb(75 85 99);
  border-radius: 0.5rem;
  font-feature-settings: inherit;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}
.inputBox select {
  font-weight: 900;
}
input::placeholder {
  font-weight: 400;
}
.submitBtn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 9999px;
}

/* sectionTwo */

.StudentList {
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
  padding: 2rem 1rem;
}
.stuDetails {
  background-color: #ffffff;
  color: #000000;
  padding: 2rem;
  border-radius: 0.5rem;
}
.stuName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.stuName span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  width: 3rem;
  height: 3rem;
  background-color: #c9fd02;
  color: #ffffff;
  border-radius: 9999px;
  margin-right: 1rem;
}
.stuName h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.stuDetails p {
  font-weight: 400;
  margin: 0;
  margin-top: 0.5rem;
}
.StuListDelBtn {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #ef4444;
  margin-top: 1rem;
  padding: 0.7rem;
  border: none;
  cursor: pointer;
}
.StuListDelBtn:hover {
  background-color: #d62929;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
  .formBox {
    grid-template-columns: auto auto;
  }
  .StudentList {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1024px) {
  .StudentList {
    grid-template-columns: auto auto auto;
  }
}
